# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Project specific
/temp/
*.raw

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# Python specific
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.python-version

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/
.venv/