# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# Project specific
/temp/
*.raw

# OS specific
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local 